<div class="row">

  <% if @articles.present? %>

    <% @articles.each do |article| %>

      <div class="col-md-6">
        <h3><%= article.title %></h3>
        <p><%= article.content %></p>
      </div>

      <% end %>

  <% else %>
      <p>Empty database, please add articles</p>
  <% end %>

</div>